<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties" />
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.wenshao.dal.bean.TopicBean" alias="_TopicBean"/>
        <typeAlias type="com.wenshao.dal.bean.TopicOptionBean" alias="_TopicOptionBean"/>
        <typeAlias type="com.wenshao.dal.bean.TopicBankBean" alias="_TopicBankBean"/>
        <typeAlias type="com.wenshao.dal.bean.AbstractSqlBean" alias="_AbstractSqlBean"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
                <!-- 在任意时间可以存在的活动（也就是正在使用）连接数量，默认值：10 -->
                <property name="poolMaximumActiveConnections" value="50" />
                <!-- 任意时间可能存在的空闲连接数 默认是5,最好设置为0,否则可能会崩溃掉 -->
                <property name="poolMaximumIdleConnections" value="0" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/topicMapper.xml"/>
        <mapper resource="mapper/topicOptionMapper.xml"/>
        <mapper resource="mapper/topicBankMapper.xml"/>
    </mappers>

</configuration>