<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
</head>
<body>

<div id="example">
  <select>
    <option v-for="item of test">{{item}}</option>
  </select>
  <button @click="greet('1')">mi</button>
  <button @click="greet2('1')">mi2</button>
  <span>{{b}}</span>
  <div v-html="rawHtml"></div>
  <div v-bind:id="dynamicId"></div>
  <button v-bind:disabled="isButtonDisabled">Button</button>
  <div v-bind:id="'list-' + id"></div>
  <p v-if="seen">现在你看到我了</p>
  <a :href="url"></a>
  <a @click='doSomething("1")'>11</a>
  <div>
    <p>Original message: "{{ message }}"</p>
    <p>Computed reversed message: "{{ reversedMessage }}"</p>
  </div>
  <div id="demo">{{ fullName }}</div>
</div>
</body>
<script>
  var data = {
    a: 1, test: ['1'], b: {c: 1}, rawHtml: '<h1>1</h1>', dynamicId: "1", isButtonDisabled: 'true ', id: 1,
    seen: false, url: '1111111',message:'hello',firstName: 'Foo',
    lastName: 'Bar',
    //fullName: 'Foo Bar',

  };
  var vm = new Vue({
    el: '#example',
    data: data,
    methods: {
      greet: function (a) {
        let list = [];
        for (let index = 0; index < 1; index++) {
          this.test.push(index)
        }
        //this.test = list;
      },
      greet2: function () {
        this.test[0] = '2';
        this.b.c = 3
      },
      doSomething: function (v) {
        alert(v)
      }
    },
    computed: {
      // 计算属性的 getter
      reversedMessage: function () {
        // `this` 指向 vm 实例
        return this.message.split('').reverse().join('')
      },
      fullName: function () {
        return this.firstName + ' ' + this.lastName
      }
    },
    watch: {
      firstName: function (val) {
        //this.fullName = val + ' ' + this.lastName
      },
      lastName: function (val) {
        //this.fullName = this.firstName + ' ' + val
      }
    }

  });
  console.log(vm.$data === data); // => true
  console.log(vm.$el === document.getElementById('example')); // => true
  // $watch 是一个实例方法
  vm.$watch('test', function (newValue, oldValue) {
    // 这个回调将在 `vm.a` 改变后调用
    console.log("==========")
  })

</script>
</body>
</html>
