<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.bannerMapper">
    <insert id="insert" parameterType="_BannerBean" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_banner(banner_create_time,banner_update_time,banner_user_id,
        banner_image_url,banner_redirect_url,banner_client_id,banner_location)
        VALUES(NOW(3),NOW(3),#{user_id},#{image_url},#{redirect_url},#{client_id},#{location})

    </insert>
    <sql id="select_list">
        select *
        from t_banner
    </sql>
    <sql id="select_max">
        SELECT IFNULL(MAX(t_banner.banner_location),0) i
        FROM t_banner
    </sql>
    <sql id="condition">
        <where>
            <if test="client_id != 0 " >
                banner_client_id = #{client_id}
            </if>
            <if test="user_id != 0 and user_id != null">
                AND banner_user_id = #{user_id}
            </if>
            <if test="id != 0 and id != null">
                AND banner_id = #{id}
            </if>
        </where>
    </sql>
    <sql id="order">
        <if test="queryBean != null and queryBean.OrderByClause != null">
            ORDER BY ${queryBean.OrderByClause}
        </if>
    </sql>
    <sql id="limit">
        <if test="queryBean != null and queryBean.limit != 0">
            LIMIT ${queryBean.offset} ,${queryBean.limit}
        </if>
    </sql>
    <sql id="update_table">
        UPDATE t_banner
    </sql>
    <sql id="delete_table">
        DELETE FROM t_banner
    </sql>
    <sql id="update_set">
        <set>
            <if test="image_url != null" >
                banner_image_url = #{image_url},
            </if>
            <if test="redirect_url != null">
                banner_redirect_url = #{redirect_url},
            </if>
            <if test="update_time_bean != null">
                banner_update_time = #{update_time_bean},
            </if>
            <if test="location != 0">
                banner_location = #{location},
            </if>
        </set>
    </sql>



    <select parameterType="_BannerBean" id="select" resultMap="bannerResult">
      <include refid="select_list"/>
      <include refid="condition"/>
      <include refid="order"/>
      <include refid="limit"/>
    </select>

    <select id="selectMaxLocation" parameterType="_BannerBean" resultType="java.lang.Integer">
        <include refid="select_max"/>
        <include refid="condition"/>
    </select>

    <update id="update" parameterType="_BannerBean" >
        <include refid="update_table" />
        <include refid="update_set" />
        <include refid="condition" />
    </update>
    <delete id="remove" parameterType="_BannerBean">
        <include refid="delete_table"/>
        <include refid="condition"/>
    </delete>

    <resultMap id="bannerResult" type="_BannerBean">
        <id property="id" column="banner_id"/>
        <result property="create_time_bean" column="banner_create_time"/>
        <result property="update_time_bean" column="banner_update_time"/>
        <result property="user_id" column="banner_user_id"/>
        <result property="redirect_url" column="banner_redirect_url"/>
        <result property="image_url" column="banner_image_url"/>
        <result property="client_id" column="banner_client_id"/>
        <result property="location" column="banner_location"/>
    </resultMap>
</mapper>