<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.clientMapper">
    <insert id="insert" parameterType="_ClientBean" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_client(client_name,client_package_name,client_create_time,client_update_time)
        VALUES(#{name},#{package_name},#{create_time_bean},#{update_time_bean});
    </insert>
    <update id="update" parameterType="_ClientBean" >
        UPDATE t_client
        <set>
            <if test="name != null" >
                client_name = #{name},
            </if>
            <if test="package_name != null">
                client_package_name = #{package_name},
            </if>
            <if test="update_time_bean != null">
                client_update_time = #{update_time_bean},
            </if>
        </set>
        WHERE client_id = #{id}
    </update>
    <sql id="select_list">
         SELECT * FROM t_client
    </sql>
    <sql id="select_count">
        SELECT count(*)
        FROM t_client
    </sql>
    <sql id="condition">
        <where>
            <if test="package_name != null">
                AND client_package_name = #{package_name}
            </if>
            <if test="queryBean != null">
                <if test="queryBean.create_time_start_bean != 0 ">
                    AND UNIX_TIMESTAMP(t_user.user_create_time)>#{queryBean.create_time_start_bean}
                </if>
                <if test="queryBean.create_time_end_bean != 0 ">
                    AND UNIX_TIMESTAMP(t_user.user_create_time)>#{queryBean.create_time_end_bean}
                </if>
                <if test="queryBean.update_time_start_bean !=0 ">
                    AND UNIX_TIMESTAMP(t_user.user_update_time)>#{queryBean.update_time_start_bean}
                </if>
                <if test="queryBean.update_time_end_bean !=0 ">
                    AND UNIX_TIMESTAMP(t_user.user_update_time)>#{queryBean.update_time_end_bean}
                </if>
            </if>
        </where>
    </sql>
    <sql id="order">
        <if test="queryBean != null and queryBean.OrderByClause != null">
            ORDER BY ${queryBean.OrderByClause}

        </if>
    </sql>
    <sql id="limit">
        <if test="queryBean != null and queryBean.limit != 0">
            LIMIT ${queryBean.offset} ,${queryBean.limit}
        </if>
    </sql>
    <select id="select" parameterType="_ClientBean" resultMap="clientResult">
        <include refid="select_list"/>
        <include refid="condition"/>
        <include refid="order"/>
        <include refid="limit"/>
    </select>
    <select id="count" parameterType="_ClientBean" resultType="java.lang.Integer">
        <include refid="select_count"/>
        <include refid="condition"/>
    </select>
    <resultMap id="clientResult" type="_ClientBean">
        <id property="id" column="client_id"/>
        <result property="create_time_bean" column="client_create_time"/>
        <result property="update_time_bean" column="client_update_time"/>
        <result property="name" column="client_name"/>
        <result property="package_name" column="client_package_name"/>

    </resultMap>

</mapper>