<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenshao.dal.dao.TopicOptionDao">
    <insert id="insert" parameterType="_TopicBean" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_topic_option(to_create_time,to_update_time,to_context,to_topic_id)
        VALUES(NOW(3),NOW(3),#{context},#{topic_id})
    </insert>
    <sql id="select_list">
        SELECT *
        FROM t_topic_option
    </sql>
    <sql id="select_max">
        SELECT IFNULL(MAX(t_topic.topic_id),0) i
        FROM t_topic_option
    </sql>
    <!--op:
     eq:1
    -->
    <sql id="condition">
        <where>
            <if test="whereObject">
                <trim prefix="(" suffix=")" prefixOverrides="and" >
                    <foreach collection="whereObject" index="field" item="cons" >
                        <if test="cons">
                            <foreach collection="cons" item="value" index="op" >
                                AND ${field} ${value}
                            </foreach>
                        </if>
                    </foreach>
                </trim>
            </if>
        </where>
    </sql>
    <sql id="order">
        <if test="order">
            ORDER BY ${order}
        </if>
    </sql>
    <sql id="limit">
        <if test="limit">
            LIMIT ${limit}
        </if>
    </sql>
    <sql id="update_table">
        UPDATE t_topic_option
    </sql>
    <sql id="delete_table">
        DELETE FROM t_topic_option
    </sql>
    <sql id="update_set">
        <set>
            <if test="title != null" >
                topic_title = #{title},
            </if>
            <if test="type != null">
                topic_type = #{type},
            </if>
            <if test="analysis != null">
                topic_analysis = #{analysis},
            </if>
            <if test="correct_answer != null">
                topic_correct_answer = #{correct_answer},
            </if>
            <if test="score != null">
                topic_score = #{score},
            </if>
        </set>
    </sql>

    <select id="select" parameterType="_AbstractSqlBean"  resultMap="topicOptionResult">
      <include refid="select_list"/>
      <include refid="condition"/>
    </select>

    <select id="selectMaxLocation" parameterType="_TopicBean" resultType="java.lang.Integer">
        <include refid="select_max"/>
        <include refid="condition"/>
    </select>

    <update id="update" parameterType="_TopicBean" >
        <include refid="update_table" />
        <include refid="update_set" />
        <include refid="condition" />
    </update>
    <delete id="remove" parameterType="_TopicBean">
        <include refid="delete_table"/>
        <include refid="condition"/>
    </delete>

    <resultMap id="topicOptionResult" type="_TopicOptionBean">
        <id property="to_id" column="to_id"/>
        <result property="to_create_time" column="to_create_time"/>
        <result property="to_update_time" column="to_update_time"/>
        <result property="to_context" column="to_context"/>
        <result property="to_topic_id" column="to_topic_id"/>
    </resultMap>
</mapper>