<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenshao.dal.dao.TopicBankDao">
    <insert id="insert" useGeneratedKeys="true" keyProperty="topicBank.tb_id">
        INSERT INTO t_topic_bank(tb_create_time,tb_update_time,tb_name,tb_type)
        VALUES(NOW(3),NOW(3),#{topicBank.tb_name},#{topicBank.tb_type})
    </insert>
    <insert id="addTopic" parameterType="java.util.Map" >
      INSERT INTO t_topic_relation(tr_topic_id,tr_tb_id) VALUES(#{topic_id},#{tb_id})
    </insert>
    <delete id="removeTopic" parameterType="java.util.Map" >
      DELETE FROM t_topic_relation WHERE tr_topic_id=#{topic_id} AND tr_tb_id=#{tb_id}
    </delete>
    <sql id="select_list">
        select *
        from t_topic_bank
    </sql>
    <sql id="select_count">
        SELECT COUNT(*)
        FROM t_topic_bank
    </sql>
    <sql id="include_topicOption">
        t_topic_option ON t_topic_option.to_topic_id=t_topic.topic_id
    </sql>
    <sql id="include_topic">
        t_topic ON t_topic.topic_tb_id = t_topic_bank.tb_id
    </sql>
    <sql id="select_max">
        SELECT IFNULL(MAX(t_topic.topic_id),0) i
        FROM t_topic_bank
    </sql>
    <sql id="update_table">
        UPDATE t_topic_bank
    </sql>
    <sql id="delete_table">
        DELETE FROM t_topic_bank
    </sql>
    <sql id="update_set">
        <set>
            <if test="title != null" >
                tb_name = #{name},
            </if>
            <if test="type != null">
                tb_type = #{type},
            </if>
        </set>
    </sql>
    <select id="select" parameterType="_AbstractSqlBean"  resultMap="topicBankResult">
        <include refid="select_list"/>
        <if test="abstractSql and abstractSql.mode">
            <if test="abstractSql.mode == 'topic+option'">
                LEFT JOIN (
                    SELECT *
                    FROM t_topic
                    INNER JOIN t_topic_relation ON t_topic_relation.tr_topic_id=t_topic.topic_id
                    LEFT JOIN t_topic_option ON t_topic_option.to_topic_id=t_topic.topic_id
                ) AS topic ON t_topic_bank.tb_id=topic.tr_tb_id
            </if>
            <if test="abstractSql.mode == 'topic'">
                INNER JOIN t_topic_relation ON t_topic_bank.tb_id=t_topic_relation.tr_tb_id
                LEFT JOIN t_topic ON t_topic_relation.tr_topic_id=t_topic.topic_id
            </if>
        </if>
        <include refid="BaseMapper.Base_Condition"/>
        <include refid="BaseMapper.Base_Group"/>
        <include refid="BaseMapper.Base_Order"/>
        <include refid="BaseMapper.Base_Limit"/>
    </select>
    <select id="count" parameterType="_AbstractSqlBean"  resultType="java.lang.Integer">
        <include refid="select_count"/>
        <if test="abstractSql and abstractSql.mode">
            <if test="abstractSql.mode == 'topic+option'">
                LEFT JOIN (
                SELECT *
                FROM t_topic
                INNER JOIN t_topic_relation ON t_topic_relation.tr_topic_id=t_topic.topic_id
                INNER JOIN t_topic_option ON t_topic_option.to_topic_id=t_topic.topic_id
                ) AS topic ON t_topic_bank.tb_id=topic.tr_tb_id
            </if>
            <if test="abstractSql.mode == 'topic'">
                INNER JOIN t_topic_relation ON t_topic_bank.tb_id=t_topic_relation.tr_tb_id
                INNER JOIN t_topic ON t_topic_relation.tr_topic_id=t_topic.topic_id
            </if>
        </if>
        <include refid="BaseMapper.Base_Condition"/>
        <include refid="BaseMapper.Base_Group"/>
        <include refid="BaseMapper.Base_Order"/>
    </select>
    <select id="selectMaxLocation" parameterType="_TopicBankBean" resultType="java.lang.Integer">
        <include refid="select_max"/>
        <include refid="BaseMapper.Base_Condition"/>
    </select>
    <update id="update" parameterType="_TopicBankBean" >
        <include refid="update_table" />
        <include refid="update_set" />
        <include refid="BaseMapper.Base_Condition" />
    </update>
    <delete id="remove" parameterType="_TopicBankBean">
        <include refid="delete_table"/>
        <include refid="BaseMapper.Base_Condition"/>
    </delete>
    <resultMap id="topicBankResult" type="_TopicBankBean">
        <id property="tb_id" column="tb_id"/>
        <result property="tb_create_time" column="tb_create_time"/>
        <result property="tb_update_time" column="tb_update_time"/>
        <result property="tb_name" column="tb_name"/>
        <result property="tb_type" column="tb_type"/>
        <collection property="topics" ofType="_TopicBean" resultMap="com.wenshao.dal.dao.TopicDao.topicResult" />
    </resultMap>
</mapper>