<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.userMapper">
    <insert id="insertUser" parameterType="_UserBean" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user(user_name,user_head,user_password,user_tel,user_device_uuid,user_register_time,
        user_create_time,user_update_time)
        VALUES(#{name},#{head},#{password},#{tel},#{device_uuid},#{register_time},#{create_time},#{update_time});
    </insert>
    <select id="select" parameterType="_UserBean" resultMap="userResult">
        SELECT *
        FROM t_user
        <where>
            <if test="tel != null" >
                AND user_tel = #{tel}
            </if>
            <if test="password != null" >
                AND user_password = #{password}
            </if>
            <if test="id != null" >
                AND user_id = #{id}
            </if>
        </where>
    </select>
    
    <resultMap id="userResult" type="_UserBean">
        <id property="id" column="user_id"/>
        <result property="tel" column="user_tel"/>
        <result property="head" column="user_head"/>
        <result property="name" column="user_name"/>
        <result property="device_uuid" column="user_device_uuid"/>
        <result property="register_time" column="user_register_time"/>
        <result property="create_time" column="user_create_time"/>
        <result property="update_time" column="user_update_time"/>
    </resultMap>
</mapper>