<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.versionMapper">
    <sql id="select_list">
        SELECT *
        FROM t_client_version
    </sql>
    <sql id="select_count">
        SELECT count(*)
        FROM t_client_version
    </sql>
    <sql id="condition">
        <where>
            <if test="client_id != 0">
                AND cv_client_id = #{client_id}
            </if>
            <if test="id != 0">
                AND cv_id = #{id}
            </if>
            <if test="version_name != null">
                AND cv_version_name = #{version_name}
            </if>
            <if test="queryBean != null">
                <if test="queryBean.create_time_start_bean != 0 ">
                    AND UNIX_TIMESTAMP(t_user.user_create_time)>#{queryBean.create_time_start_bean}
                </if>
                <if test="queryBean.create_time_end_bean != 0 ">
                    AND UNIX_TIMESTAMP(t_user.user_create_time)>#{queryBean.create_time_end_bean}
                </if>
                <if test="queryBean.update_time_start_bean !=0 ">
                    AND UNIX_TIMESTAMP(t_user.user_update_time)>#{queryBean.update_time_start_bean}
                </if>
                <if test="queryBean.update_time_end_bean !=0 ">
                    AND UNIX_TIMESTAMP(t_user.user_update_time)>#{queryBean.update_time_end_bean}
                </if>
            </if>
        </where>
    </sql>
    <sql id="order">
        <if test="queryBean != null and queryBean.OrderByClause != null">
            ORDER BY ${queryBean.OrderByClause}

        </if>
    </sql>
    <sql id="limit">
        <if test="queryBean != null and queryBean.limit != 0">
            LIMIT ${queryBean.offset} ,${queryBean.limit}
        </if>
    </sql>
    <select id="select" parameterType="_VersionBean" resultMap="versionResult">
        <include refid="select_list"/>
        <include refid="condition"/>
        <include refid="order"/>
        <include refid="limit"/>
    </select>
    <select id="count" parameterType="_VersionBean" resultType="java.lang.Integer">
        <include refid="select_count"/>
        <include refid="condition"/>
    </select>
    <resultMap id="versionResult" type="_VersionBean">
        <id property="id" column="cv_id"/>
        <result property="create_time_bean" column="cv_create_time"/>
        <result property="update_time_bean" column="cv_update_time"/>
        <result property="version_name" column="cv_version_name"/>
        <result property="version_number" column="cv_version_number"/>
        <result property="client_id" column="cv_client_id"/>
        <result property="download_url" column="cv_download_url"/>
        <result property="description" column="cv_description"/>

    </resultMap>
</mapper>