<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenshao.coursate">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name="com.wenshao.coursate.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wenshao.coursate.activity.SplashActivity"
            android:theme="@style/startTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wenshao.coursate.activity.GuideActivity"
            android:theme="@style/whiteTheme" />
        <activity
            android:name="com.wenshao.coursate.activity.IndexActivity"
            android:label=""
            android:theme="@style/indexTheme" />

        <activity
            android:name="com.wenshao.coursate.activity.TestActivity"
            android:label=""
            android:theme="@style/AppTheme" />
    </application>

</manifest>